.center {
    text-align: center;
    padding: 10px;
}

.btn-style {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
    margin: 0 auto;
}

.spnForm {
    margin: 0 auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 15%;
}